.giftcard-checkout-container {
    height: 200px;
}

.brand-description {
    height: 50%;
    font-size: 12px;
    overflow: scroll;
    padding: 3px;
}

.checkout {
    height: 50%;
}

.amount-label {
    margin: 10px 5px;
}