.App {
  text-align: center;
}

html {
		background-color:	#CFD8DC;
		padding:			0;
	  margin:				0;
		font-family:		'Roboto', sans-serif;
}

body {
		background-color:	#CFD8DC;
		padding:			0;
	  margin:				0;
		font-family:		'Roboto', sans-serif;
}




